.menu-icon {
  width: 34px;
  height: 25px;

  .menu-line {
    height: 3px;
    background-color: var(--bs-secondary);
    transition: transform 0.3s ease;

    &:nth-child(1) {
      width: 29px;
    }

    &:nth-child(2) {
      width: 34px;
    }

    &:nth-child(3) {
      width: 23px;
    }
  }

  &:hover {
    .menu-line {
      background-color: var(--bs-white);

      &:nth-child(1) {
        transform: translateX(5px);
      }

      &:nth-child(2) {
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: translateX(10px);
      }
    }
  }
}

@media (max-width: 768px) {
  .logo {
    width: 60%;
    height: auto;
  }
}